.vs/
Messaging.Buffer.TestApp/bin/
Messaging.Buffer.TestApp/obj/
Messaging.Buffer/bin/
Messaging.Buffer/obj/
Messaging.Buffer.Test/bin/
Messaging.Buffer.Test/obj/
TestResults/
WebAppExample/obj/
WebAppExample/bin/
Messaging.Buffer.TestAppWeb/obj/Debug/net8.0/Messaging.Buffer.TestAppWeb.csproj.CoreCompileInputs.cache
